<nav class="navbar navbar-dark bg-primary navbar-expand-lg">
    <a class="navbar-brand" href="{% url 'profiles:index' %}">Bank Manager</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'profiles:index' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            {% if request.user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'profiles:details' %}">Detalhes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'counts:deposit' %}">Depositar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'counts:withdraw' %}">Sacar</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Conta
                </a>
                <div class="dropdown-menu nav-item" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'profiles:logout' %}" >Log out</a>
                    <div class="dropdown-divider"></div>
                </div>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'profiles:login' %}">Fazer login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'profiles:checking' %}">Conta Corrente</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'profiles:saving' %}">Conta Poupança</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'profiles:juridical' %}">Conta Jurídica</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>
